* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --GreyFontFooter: #333333;  /* Gris rgb(51 51 51) */
    --Fontstyle: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    width: 100%;
    text-align: center;
    font-family: var(--Fontstyle);
    color: var(--GreyFontFooter);
}
@media screen and (max-width: 1300px) {
    footer {
        padding-left: 0px;
    }
}
#imgCopy {
	width: 15px;
	height: 15px;
}